@tailwind base;
@tailwind components;
@tailwind utilities;

.light {
  --foreground-rgb: 33, 33, 33;
  --background-start: #fff;
  --background-end: #e6e6e6;
}

.dark {
    --foreground-rgb: 250, 250, 250;
    --background-start: #082f49;
    --background-end: #020617;
}

body {
  color: rgb(var(--foreground-rgb));

  background-image: linear-gradient(
      to bottom right,
    var(--background-end),
    var(--background-start));
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

@layer base {
  body {
    @apply antialiased;
  }

  a:hover {
    @apply underline;
  }

  h1, h2, h3, h4, h5, h6 {
    @apply my-6 font-bold font-heading;
  }

  h1 {
    @apply text-4xl;
  }

  h2 {
    @apply text-3xl;
  }

  h3 {
    @apply text-2xl;
  }

  h4 {
    @apply text-xl;
  }

  h5 {
    @apply text-lg;
  }

  h6 {
    @apply text-base;
  }

  p {
    @apply mb-4;
  }

  ul, ol {
    @apply mb-4;
  }

  ul {
    @apply list-disc;
  }

  ol {
    @apply list-decimal;
  }

  li {
    @apply mb-2;
  }
  }

@layer utilities {
  .text-shadow {
    text-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
  }
}



